@{
    ViewBag.Title = "PIP Configuration";
    Layout = "~/Views/Shared/_common_v1.cshtml";
}
@using ECIS.Core;
@using ECIS.Client.WEIS;
@using MongoDB.Driver;
@using MongoDB.Driver.Builders;
@using Newtonsoft.Json;

<style>
    .cell-date {
        text-align: center;
    }

    .cell-number {
        text-align: right;
    }

    #tableAllocation th {
        text-align: center;
    }

    #tableAllocation td {
        padding: 5px;
    }

    #tableAllocation tfoot td {
        font-weight: bold;
        text-align: right;
        background-color: lightgrey;
    }

    #tableAllocation tbody td {
        text-align: right;
    }

    .form-wrapper div {
        padding-bottom: 3px;
    }

        .form-wrapper div label {
            line-height: 23px;
        }

    .form-control {
        font-size: 9pt;
    }

    input[type='text'] {
        line-height: 20px;
    }

    .k-invalid-msg {
        margin-left: 30px;
    }

    #modalPIP .modal-dialog {
        width: 1000px;
    }

    .k-grid-header tr th.k-header {
        position: relative;
    }

    .k-grid-header .k-unit {
        position: absolute;
        top: 9px;
        right: 7px;
    }

    span.glyphicon.glyphicon-comment.comment-exist {
        color: rgb(66, 139, 202);
    }

        span.glyphicon.glyphicon-comment.comment-exist .comment-counter {
            color: black;
            font-size: 10px;
            position: absolute;
            top: -5px;
            right: -7px;
            font-weight: normal !important;
        }
</style>

@{
    var PerformanceUnits = new List<string>();
    var elements = DataHelper.Populate<WellPIP>("WEISWellPIPs").SelectMany(d => d.Elements);
    if (elements.Where(d => d.PerformanceUnit != null).Count() > 0)
    {
        PerformanceUnits = elements.Where(d => d.PerformanceUnit != null).GroupBy(d => d.PerformanceUnit).Select(d => d.Key).OrderBy(d => d).ToList();
    }
}

@{
    var MetricDropDown = new List<string>();
    //var elements = DataHelper.Populate<WellPIP>("WEISWellPIPs").SelectMany(d => d.Elements);

    string[] arr1 = new string[] { "AFE", "Agreed Target", "Best In Class", "Operations Plan 2014", "P50", "Top Quartile", "Type 1 Baseline", "Type 2 Baseline", "Type 3 Baseline" };
    MetricDropDown = arr1.ToList();
}

<script>
    model.PageId("Performance Improvement Plan");
    model.getFilterValues = function () {
        var result = {};

        $('.filter').find('select').each(function (i, e) {
            result[$(e).attr('data-model')] = $(e).data('kendoMultiSelect').value();
        });
        console.log(result);
        return result;
    }

    model.uimodel = ko.observable({
        mode: ko.observable(""),
        processing: ko.observable(false),
        selectedPIPId: ko.observable(""),
        selectedElementId: ko.observable(),
        ActivityType: ko.observable(""),
        WellName: ko.observable(""),
        isRO: ko.observable(@ViewBag.isRO),
        isAdmin: ko.observable(@ViewBag.isAdmin),

        TeamLeadEmail: ko.observable(""),
        LeadEngEmail: ko.observable(""),
        OptmzEngEmail: ko.observable(""),

        ProjectInfos: {
            WellActivity: ko.observable({}),
            Phase: ko.observable({}),
            PhaseMin: ko.observable(""),
            PhaseMax: ko.observable(""),
        },
        //gridData: ko.observableArray([]),
        //dsGrid: ko.observable(new kendo.data.DataSource({data:[]})),
        record: ko.observable(ko.mapping.fromJS(@MvcTools.Obj2HtmlStr(new WellPIP()))),
        PIPNewIdea: ko.observable(""),
        PIPNewActivityStart: ko.observable(""),
        PIPNewActivityEnd: ko.observable(""),
        PIPNewPlanDaysOpp: ko.observable(),
        PIPNewPlanDaysRisk: ko.observable(),
        PIPNewPlanCostOpp: ko.observable(),
        PIPNewPlanCostRisk: ko.observable(),
        PIPNewClassification: ko.observable(),
        PIPNewActionParty: ko.observable(),
        PerfMetricsTitle: ko.observable(""),
        PerfMetricsSchedule: ko.observable(),
        PerfMetricsCost: ko.observable(),
        ProjectMilestoneTitle: ko.observable(""),
        ProjectMilestonePeriod: ko.observable(),
        ProjectInfosScaled: ko.observable(""),
        ProjectInfosCostLevel: ko.observable(""),
        ProjectInfosProjectType: ko.observable(""),
        ProjectInfosField: ko.observable(""),
        ProjectInfosPIPType: ko.observable(""),
        ProjectInfosRigName: ko.observable(""),
        SelectedPIPType: ko.observable(""),
        isWAUExist: ko.observable(),

        DaysPlanImprovementTotal: ko.observable(),
        DaysPlanRiskTotal: ko.observable(),
        CostPlanImprovementTotal: ko.observable(),
        CostPlanRiskTotal: ko.observable(),
        CostCurrentWeekImprovementTotal: ko.observable(),
        CostCurrentWeekRiskTotal: ko.observable(),
        DaysCurrentWeekImprovementTotal: ko.observable(),
        DaysCurrentWeekRiskTotal: ko.observable(),

        ClassificationName: ko.observable(""),
        Classifications: ko.observableArray([]),
        ThemeNames: ko.observableArray(@MvcHtmlString.Create(JsonConvert.SerializeObject(DataHelper.Populate("WEISPIPThemes")
            .Select(d=>d.GetString("Name")).OrderBy(d=>d)))),
        PerformanceUnits: ko.observableArray(@MvcHtmlString.Create(JsonConvert.SerializeObject(PerformanceUnits))),
        MetricDropDown: ko.observableArray(@MvcHtmlString.Create(JsonConvert.SerializeObject(MetricDropDown))),
        ActionParties: ko.observableArray([]),
        setClassifications: function () {
            var x = this;
            ajaxPost("@Url.Action("GetPIPClassification")", {}, function (data) {
                var src_class = data.Data;
                src_class.unshift("");
                $("#Classification").data("kendoDropDownList").setDataSource(src_class);
                x.Classifications(data.Data);
            });

        },

        WellNames: ko.observableArray(@MvcHtmlString.Create(JsonConvert.SerializeObject(DataHelper.Populate("WEISWellNames", Query.NE("IsVirtualWell", true))
            .Select(d=>d.GetString("_id")).OrderBy(d=>d)))),
        RigNames: ko.observableArray(@MvcHtmlString.Create(JsonConvert.SerializeObject(DataHelper.Populate("WEISRigNames")
            .Select(d=>d.GetString("_id")).OrderBy(d=>d)))),
        Activities: ko.observableArray(@MvcHtmlString.Create(JsonConvert.SerializeObject(DataHelper.Populate<WellActivity>("WEISWellActivities")
        .SelectMany(d => d.Phases).GroupBy(d => d.ActivityType).Select(d => d.Key).OrderBy(d => (d.Equals("n/a") ? "" : d))))),

        Persons: ko.observableArray(@MvcHtmlString.Create(JsonConvert.SerializeObject(DataHelper.Populate("Users")
            .Select(d=> new {
                Email = d.GetString("Email"),
                FullName = d.GetString("FullName")
            })
            .OrderBy(d => d.FullName)
            ))),
        PersonsForTeamLead: ko.observableArray([]),
        PersonsForLeadEng: ko.observableArray([]),
        PersonsForOptmzEng: ko.observableArray([]),

        SequenceIds: ko.observableArray([]),
        downloadAllPIP:function(){
            var x = this;
            var ps = model.getFilterValues();
            ps.performanceUnits = (function (a) { return typeof a === 'undefined' ? [] : a.value() }($('[data-model=performanceUnits]').data('kendoMultiSelect')));
            ps.performanceMetrics = (function (a) { return typeof a === 'undefined' ? [] : a.value() }($('[data-model=performanceMetrics]').data('kendoMultiSelect')));
            ps.PIPType = (function (a) { return typeof a === 'undefined' ? [] : a.value() }($('#PIPTypeFilter').data('kendoDropDownList')));
            x.processing(true);
            ajaxPost("@Url.Action("DownloadPIP", "UploadPIP")", ps, function (data) {
                console.log(data);
                x.processing(false);
                var url = "@Url.Action("DownloadPIPFile", "UploadPIP")"+"?stringName="+data.Path;
                location.href = url;
            });
        },
        PIPTotalElements: ko.observable(),
        refresh: function () {
            var x = this;
            var ps = model.getFilterValues();
            ps.performanceUnits = (function (a) { return typeof a === 'undefined' ? [] : a.value() }($('[data-model=performanceUnits]').data('kendoMultiSelect')));
            ps.performanceMetrics = (function (a) { return typeof a === 'undefined' ? [] : a.value() }($('[data-model=performanceMetrics]').data('kendoMultiSelect')));
            ps.PIPType = (function (a) { return typeof a === 'undefined' ? [] : a.value() }($('#PIPTypeFilter').data('kendoDropDownList')));
            //alert(ps.PIPType);
            x.processing(true);
            ajaxPost("@Url.Action("Search")", ps,
            function (data) {
                console.log(data);

                x.processing(false);
                if (data.Result != "OK") {
                    alert(data.Message);
                    return;
                }

                //console.log(data.Data);
                var TotalElements = 0;
                for(var i=0;i<data.Data.length;i++){
                    var el = data.Data[i].Elements;
                    TotalElements = TotalElements + el.length;
                }

                var datas = data.Data;
                //for(var i=0;i<datas.length;i++){
                //    datas[i].numberOfElement = datas[i].Elements.length;
                //}

                var ds = new kendo.data.DataSource({
                    data: datas,
                    pageSize: 10,
                    schema: {
                        //data: "Phases",
                        model: {
                            fields: {
                                "OPStart": { type: "date" },
                                "OPFinish": { type: "date" },
                                "AFEStart": { type: "date" },
                                "AFEFinish": { type: "date" },
                                //"OPSchedule.Finish": { type: "date" },
                            }
                        },
                    },
                    //aggregate: [ { field: "numberOfElement", aggregate: "sum" }]
                });


                //console.log(TotalElements);

                $("#grid").data("kendoGrid").setDataSource(ds);

                x.PIPTotalElements(TotalElements);
                $("#PIPTotalElements").text(TotalElements);
                x.mode("");
                setPageTitle("PIP Configuration");

                var grid = $('#grid').data('kendoGrid');
                var pager = grid.pager;
                pager.bind('change', setFooterTemplate);
            });
        },
        cancel: function () {
            var x = model.uimodel();
            //x.refresh();
            x.mode("");
        },
        add: function () {
            var x = model.uimodel();
            x.mode('New');
            setPageTitle("PIP - Add - Select Activity");
        },
        addNew: function () {
            var x = model.uimodel();
            $("#WellNames").data("kendoMultiSelect").value("");
            $("#RigNames").data("kendoMultiSelect").value("");
            $("#Activities").data("kendoMultiSelect").value("");
            var ds = new kendo.data.DataSource({
                data: [],
                pageSize: 10,
                //schema: {
                //    //data: "Phases",
                //    model: {
                //        fields: {
                //            "OPSchedule.Start": { type: "date" },
                //            "OPSchedule.Finish": { type: "date" },
                //        }
                //    },
                //},
            });
            $("#gridAdd").data("kendoGrid").setDataSource(ds)
            x.mode('New');
            setPageTitle("PIP - Add - Select Activity");
            changePIPType();
        },
        SearchAddNew: function () {
            var x = model.uimodel();
            x.processing(true);
            var data = {
                WellNames: $("#WellNames").data("kendoMultiSelect").value(),
                WellActivityIds: $("#Activities").data("kendoMultiSelect").value(),
                RigNames: $("#RigNames").data("kendoMultiSelect").value(),
                Type: $("#PIPType").val()
            };
            ajaxPost("@Url.Action("SearchForAddNew")", data, function (data) {
                //console.log(data);
                var ds = new kendo.data.DataSource({
                    data: data.Data,
                    pageSize: 10,
                    //schema: {
                    //    //data: "Phases",
                    //    model: {
                    //        fields: {
                    //            "OPSchedule.Start": { type: "date" },
                    //            "OPSchedule.Finish": { type: "date" },
                    //        }
                    //    },
                    //},
                });

                $("#gridAdd").data("kendoGrid").setDataSource(ds);

                x.processing(false);
            });
        },
        createPIPDoc: function (id, PhaseNo, WellName) {
            //alert(WellName);
            var x = model.uimodel();
            var type = $("#PIPType").val();
            if(type == "Efficient"){
                var data = {
                    _id: id,
                    PhaseNo: PhaseNo
                };
                ajaxPost("@Url.Action("CreatePIPDoc")", data, function (data) {
                    console.log(data);
                    var id = data.PIPId;
                    var WellName = data.WellName;
                    var ActivityType = data.ActivityType;
                    x.select(id, WellName, ActivityType,type);
                });
            }else{
                var data = {
                    WellName:WellName
                };
                ajaxPost("@Url.Action("CreatePIPDocForCR")", data, function (data) {
                    console.log(data);
                    var id = data.PIPId;
                    var WellName = data.WellName;
                    var ActivityType = data.ActivityType;
                    x.select(id, WellName, ActivityType,type);
                });
            }
        },
        deletePIPDoc: function (_id) {
            var conf = confirm("Are you sure you want to delete this record?");
            if (conf) {
                var x = model.uimodel();
                var data = { _id: _id };
                ajaxPost("@Url.Action("DeletePIPDoc")", data, function (data) {
                    if (data.Success != true) {
                        alert(data.Message);
                        return;
                    }
                    x.refresh();
                });
            }
        },
        save: function () {
            var x = model.uimodel();
            var r = ko.mapping.toJS(x.record());
            ajaxPost("@Url.Action("Save")", r, function (data) {
                if (data.Result != "OK") {
                    alert(data.Message);
                    return;
                }
                x.refresh();
            });
        },
        loadFromOPS: function () {
            var x = model.uimodel();
            x.processing(true);
            ajaxPost("@Url.Action("LoadFromOps")", {},
                function (data) {
                    if (data.Result != "OK") {
                        //showErr(data.Message, data.Trace);
                        return;
                    }
                    x.processing(false);
                    x.refresh();
                },
                function (e) {
                    x.processing(false);
                    //showErr(e);
                });
        },
        select: function (id, WellName, ActivityType,PIPType) {
            //alert(PIPType);
            var x = model.uimodel();
            x.setClassifications();
            x.selectedPIPId(id);
            x.WellName(WellName);
            x.ActivityType(ActivityType);
            x.SelectedPIPType(PIPType);
            x.ActionParties([]);

            x.CostPlanRiskTotal(0);
            x.CostPlanImprovementTotal(0);
            x.DaysPlanRiskTotal(0);
            x.DaysPlanImprovementTotal(0);
            //alert("ok");

            x.ProjectInfosScaled("");
            x.ProjectInfosCostLevel(0);
            x.ProjectInfosProjectType("");
            x.ProjectInfosField("");
            x.ProjectInfosPIPType("");
            x.ProjectInfosRigName("");

            getProjectInfos(id, WellName, ActivityType);

            ajaxPost("@Url.Action("Get")", { id: id },
                function (data) {
                    if (data.Success != true) {
                        alert(data.Message);
                        return;
                    }
                    //console.log(data.Data.Elements)

                    //console.log(data);

                    var redefine = function (what, val) {
                        if (typeof what === "undefined")
                            return val;
                        if (what == null)
                            return val;

                        return what;
                    };

                    x.ProjectInfosScaled(redefine(data.Data.Scaled, ""));
                    x.ProjectInfosCostLevel(redefine(data.Data.CostLevel, 0));
                    x.ProjectInfosProjectType(redefine(data.Data.ProjectType, ""));
                    x.ProjectInfosField(redefine(data.Data.Field, ""));
                    x.ProjectInfosPIPType(redefine(data.Data.Type, ""));
                    if(x.ProjectInfosPIPType != "Efficient"){
                        var wn = data.Data.WellName;
                        var res = wn.replace("_CR","");
                        x.ProjectInfosRigName(res);
                    }

                    getTotal(data.Data.Elements);

                    var r = ko.mapping.fromJS(data.Data);
                    x.record(r);
                    x.mode('Edit');

                    var wau = data.WAU;
                    x.isWAUExist(wau);

                    var spud = $("input.spudDate");
                    input2datePicker(spud);
                    console.log(data.Data.Elements);
                    refreshPIPElements(data.Data.Elements,wau);


                    var ds_metrics = new kendo.data.DataSource({
                        data: data.Data.PerformanceMetrics,
                        pageSize: 10,
                        schema: {
                            model: {
                                id: "Title",
                                fields: {
                                    "Title": { type: "string" },
                                    "Schedule": { type: "number" },
                                    "Cost": { type: "number" }
                                }
                            },
                        },
                        batch: true
                    });

                    $("#grid_performance_metrics").data("kendoGrid").setDataSource(ds_metrics);

                    var ds_project = new kendo.data.DataSource({
                        data: data.Data.ProjectMilestones,
                        pageSize: 10,
                        schema: {
                            model: {
                                id: "Title",
                                fields: {
                                    "Title": { type: "string" },
                                    "Period": { type: "date" }
                                }
                            },
                        },
                        batch: true
                    });

                    $("#grid_project_milestone").data("kendoGrid").setDataSource(ds_project);

                    var data_project_info = [
                        { Title: "Project Name", Detail: "Tb Activity" },
                        { Title: "Project Type", Detail: "" },
                        { Title: "Field/Prospect", Detail: "" },
                        { Title: "Common Well Name", Detail: "Tb Activity" },
                        { Title: "Activity Type", Detail: "" },
                        { Title: "Rig", Detail: "Tb Activity" },
                        { Title: "Scaled?", Detail: "" },
                        { Title: "Rig Schedule Start Date", Detail: "Phase start" },
                        { Title: "Rig Schedule End Date", Detail: "Phase end" },
                        { Title: "Cost Level", Detail: "" },
                        { Title: "Team Lead", Detail: "" },
                        { Title: "Lead Engineer", Detail: "" },
                        { Title: "Optimization Engineer", Detail: "" }
                    ];


                    var ds_information = new kendo.data.DataSource({
                        data: data_project_info,
                        pageSize: 13
                    });

                    $("#grid_project_information").data("kendoGrid").setDataSource(ds_information);

                    $("#footer1").html(number_format(x.DaysPlanImprovementTotal()));
                    $("#footer2").html(number_format(x.DaysPlanRiskTotal()));
                    $("#footer3").html(number_format(x.CostPlanImprovementTotal()));
                    $("#footer4").html(number_format(x.CostPlanRiskTotal()));
                    $("#footer5").html(number_format(x.DaysCurrentWeekImprovementTotal()));
                    $("#footer6").html(number_format(x.DaysCurrentWeekRiskTotal()));
                    $("#footer7").html(number_format(x.CostCurrentWeekImprovementTotal()));
                    $("#footer8").html(number_format(x.CostCurrentWeekRiskTotal()));

                    refreshWaterfall(PIPType);
                });
        },
        addElement: function () {
            var r = model.uimodel().record();
            var e = ko.mapping.fromJS(@MvcTools.Obj2HtmlStr(new PIPElement()));
            e.Title("New PIP Element");
            r.Elements.push(e);
        },
        removeElement: function (e) {
            var r = model.uimodel().record();
            r.Elements.remove(e);
        },
        //addClassification: function () {
        //    var x = this;
        //    x.ClassificationName("");
        //    $("#modalClassification").modal("show");
        //},
        SaveClassification: function () {
            //alert("ok");
            var x = this;
            var datas = {
                Name: x.ClassificationName()
            };

            ajaxPost("@Url.Action("Save","MasterClassification")", datas,
                function (data) {
                    if (data.Success == true) {
                        //$("#modalClassification").modal("hide");
                        x.setClassifications();
                        var dropdownlist = $("#Classification").data("kendoDropDownList");
                        dropdownlist.select(function (dataItem) {
                            return dataItem.text === x.ClassificationName();
                        });
                    } else {
                        alert(data.Message);
                    }
                });
        },
        addPIP: function () {
            var x = this;
            x.PIPNewActivityStart("");
            x.PIPNewActivityEnd("");
            $("#ActivityStart").data("kendoDatePicker").value("");
            $("#ActivityEnd").data("kendoDatePicker").value("");

            x.PIPNewPlanDaysOpp(0);
            x.PIPNewPlanDaysRisk(0);
            x.PIPNewPlanCostOpp(0);
            x.PIPNewPlanCostRisk(0);
            x.PIPNewIdea("");
            x.ActionParties([]);

            $("#PlanDaysOpp").data("kendoNumericTextBox").value(0);
            $("#PlanDaysRisk").data("kendoNumericTextBox").value(0);
            $("#PlanCostOpp").data("kendoNumericTextBox").value(0);
            $("#PlanCostRisk").data("kendoNumericTextBox").value(0);

            $("#PerformanceUnit").data("kendoDropDownList").value("");
            $("#Classification").data('kendoDropDownList').value("");
            $("#Theme").data('kendoDropDownList').value("");

            //x.PIPNewClassification("");
            //x.PIPNewActionParty("");
            $("#modalPIP").modal("show");
        },
        SaveNewPIP: function () {

            var add_pip_validator = $("#form_add_pip").kendoValidator({
                rules: {
                    hasItems: function (input) {
                        if (input.is("[name=Classification]")) {
                            //Get the MultiSelect instance
                            var ms = input.data("kendoDropDownList");
                            if (ms.value().length === 0) {
                                return false;
                            }
                        }
                        return true;
                    }
                },
                messages: {
                    hasItems: "Please select at least one Classification"
                }
            }).data("kendoValidator");

            if (add_pip_validator.validate()) {
                var x = this;
                var datas = {
                    Title: x.PIPNewIdea(),
                    ActivityStart: x.PIPNewActivityStart() == "" ? $("#ActivityStart").val() : x.PIPNewActivityStart(),
                    ActivityEnd: x.PIPNewActivityEnd() == "" ? $("#ActivityEnd").val() : x.PIPNewActivityEnd(),
                    PlanDaysOpp: x.PIPNewPlanDaysOpp() == "" ? $("#PlanDaysOpp").val() : x.PIPNewPlanDaysOpp(),
                    PlanDaysRisk: x.PIPNewPlanDaysRisk() == "" ? $("#PlanDaysRisk").val() : x.PIPNewPlanDaysRisk(),
                    PlanCostOpp: x.PIPNewPlanCostOpp() == "" ? $("#PlanCostOpp").val() : x.PIPNewPlanCostOpp(),
                    PlanCostRisk: x.PIPNewPlanCostRisk() == "" ? $("#PlanCostRisk").val() : x.PIPNewPlanCostRisk(),
                    PIPId: x.selectedPIPId(),
                    PerformanceUnit: $("#PerformanceUnit").data('kendoDropDownList').value(),
                    Classification: $("#Classification").data('kendoDropDownList').value(),
                    Theme: $("#Theme").data('kendoDropDownList').value(),
                    ActionParty: x.PIPNewActionParty(),
                    ActionParties: ko.mapping.toJS(x.ActionParties())
                };

                ajaxPost("@Url.Action("SaveNewPIP")", datas,
                    function (data) {
                        if (data.Success == true) {
                            $("#modalPIP").modal("hide");
                            x.select(x.selectedPIPId(), x.WellName(), x.ActivityType(),x.SelectedPIPType());
                        } else {
                            alert(data.Message);
                        }
                    });
            } else {
                return;
            }

        },
        editPIP: function () {
            var x = this;
            var updated = getChangedData("GridPIP", "dirty");

            if (updated.length > 0) {

                x.processing(true);
                for (var a = 0; a < updated.length; a++) {
                    var b = updated[a];
                    var PeriodStart = updated[a].Period.Start;
                    //console.log(PeriodStart);
                    if (PeriodStart instanceof Date) {
                        //alert("found");
                        updated[a].Period.Start = PeriodStart;
                    } else {
                        updated[a].Period.Start = jsonDateStr(PeriodStart);
                    }

                    var PeriodFinish = updated[a].Period.Finish;
                    //console.log(PeriodStart);
                    if (PeriodFinish instanceof Date) {
                        //alert("found");
                        updated[a].Period.Finish = PeriodFinish;
                    } else {
                        updated[a].Period.Finish = jsonDateStr(PeriodFinish);
                    }

                    //var Completion = number_format(updated[a].Completion / 100);
                    //updated[a].Completion = Completion;
                }


                var datas = { updated: updated, PIPId: x.selectedPIPId() };
                ajaxPost("@Url.Action("UpdatePIP")", datas,
                    function (data) {
                        if (data.Success == true) {
                            x.processing(false);
                            x.select(x.selectedPIPId(), x.WellName(), x.ActivityType(),x.SelectedPIPType());
                        } else {
                            alert(data.Message);
                        }
                    });

                //console.log(data);

            }

        },
        deletePIP: function (ElementId) {
            var x = this;
            var konf = confirm("Are you sure you want to delete this data?");
            if (konf == true) {
                var datas = { ElementId: ElementId, PIPId: x.selectedPIPId() };
                ajaxPost("@Url.Action("DeletePIP")", datas,
                    function (data) {
                        if (data.Success == true) {
                            x.select(x.selectedPIPId(), x.WellName(), x.ActivityType(),x.SelectedPIPType());
                        } else {
                            alert(data.Message);
                        }
                    });
            }
        },
        addPerformanceMetrics: function () {
            var x = this;
            x.PerfMetricsTitle("");
            x.PerfMetricsSchedule("");
            x.PerfMetricsCost("");
            $("#modalPerfMetrics").modal("show");
        },
        SaveNewPerfMetrics: function () {
            //alert("ok");
            var x = this;
            var datas = {
                Title: x.PerfMetricsTitle(),
                Schedule: x.PerfMetricsSchedule(),
                Cost: x.PerfMetricsCost(),
                PIPId: x.selectedPIPId(),
            };

            ajaxPost("@Url.Action("SaveNewPerformanceMetrics")", datas,
                function (data) {
                    if (data.Success == true) {
                        $("#modalPerfMetrics").modal("hide");
                        x.select(x.selectedPIPId(), x.WellName(), x.ActivityType(),x.SelectedPIPType());
                    } else {
                        alert(data.Message);
                    }
                });
        },
        editPerfMetrics: function () {
            var x = this;
            var updated = getChangedData("grid_performance_metrics", "all");
            var datas = { updated: updated, PIPId: x.selectedPIPId() };
            ajaxPost("@Url.Action("UpdatePerfMetrics")", datas,
                function (data) {
                    if (data.Success == true) {
                        x.select(x.selectedPIPId(), x.WellName(), x.ActivityType(),x.SelectedPIPType());
                    } else {
                        alert(data.Message);
                    }
                });

            //console.log(data);
        },
        deletePerfMetrics: function (Title, Schedule, Cost) {
            var x = this;
            var konf = confirm("Are you sure you want to delete this data?");
            if (konf == true) {
                var datas = { DataToRemove: { Title: Title, Schedule: Schedule, Cost: Cost }, PIPId: x.selectedPIPId() };
                ajaxPost("@Url.Action("DeletePerformanceMetrics")", datas,
                    function (data) {
                        if (data.Success == true) {
                            x.select(x.selectedPIPId(), x.WellName(), x.ActivityType(),x.SelectedPIPType());
                        } else {
                            alert(data.Message);
                        }
                    });
            }
        },
        addProjectMilestone: function () {
            var x = this;
            x.ProjectMilestoneTitle("");
            x.ProjectMilestonePeriod("");
            $("#modalProjectMilestone").modal("show");
        },
        SaveNewProjectMilestone: function () {
            //alert("ok");
            var x = this;
            var datas = {
                Title: x.ProjectMilestoneTitle(),
                Period: x.ProjectMilestonePeriod(),
                PIPId: x.selectedPIPId(),
            };

            ajaxPost("@Url.Action("SaveNewProjectMilestone")", datas,
                function (data) {
                    if (data.Success == true) {
                        $("#modalProjectMilestone").modal("hide");
                        x.select(x.selectedPIPId(), x.WellName(), x.ActivityType(),x.SelectedPIPType());
                    } else {
                        alert(data.Message);
                    }
                });

        },
        editProjectMilestone: function () {
            var x = this;
            var updated = getChangedData("grid_project_milestone", "all");
            for (var a = 0; a < updated.length; a++) {
                var b = updated[a];
                var Period = updated[a].Period;
                //console.log(PeriodStart);
                if (Period instanceof Date) {
                    //alert("found");
                    updated[a].Period = Period;
                } else {
                    updated[a].Period = jsonDateStr(Period);
                }
            }

            //console.log(updated);

            var datas = { updated: updated, PIPId: x.selectedPIPId() };
            ajaxPost("@Url.Action("UpdateProjectMilestone")", datas,
                function (data) {
                    if (data.Success == true) {
                        x.select(x.selectedPIPId(), x.WellName(), x.ActivityType(),x.SelectedPIPType());
                    } else {
                        alert(data.Message);
                    }
                });

            //console.log(data);
        },
        deleteProjectMilestone: function (Title, Period) {
            var x = this;
            var konf = confirm("Are you sure you want to delete this data?");
            if (konf == true) {
                //Period = jsonDateStr(Period);
                var datas = { Title: Title, PIPId: x.selectedPIPId() };
                ajaxPost("@Url.Action("DeleteProjectMilestone")", datas,
                    function (data) {
                        if (data.Success == true) {
                            x.select(x.selectedPIPId(), x.WellName(), x.ActivityType(),x.SelectedPIPType());
                        } else {
                            alert(data.Message);
                        }
                    });
            }
        },
        saveProjectInfos: function () {
            var x = model.uimodel();
            var y = this;
            var Field = y.ProjectInfosField
            var Scaled = y.ProjectInfosScaled();
            var ProjectType = y.ProjectInfosProjectType();
            var CostLevel = y.ProjectInfosCostLevel();

            var datas = {
                Field: Field,
                Scaled: Scaled,
                ProjectType: ProjectType,
                CostLevel: CostLevel,
                PIPId: y.selectedPIPId()
            };
            datas.OptmzEngEmail = $("#OptmzEng").val();
            datas.LeadEngEmail = $("#LeadEng").val();
            datas.TeamLeadEmail = $("#TeamLead").val();
            //alert(datas.OptmzEngEmail);

            console.log(datas);

            ajaxPost("@Url.Action("SaveProjectInfos")", datas,
                    function (data) {
                        if (data.Success == true) {
                            y.select(y.selectedPIPId(), y.WellName(), y.ActivityType(),y.SelectedPIPType());
                        } else {
                            alert(data.Message);
                        }
                    });
        },
        openManageActionPartyModal: function (ElementId) {
            var x = this;
            x.processingActionParty(true);
            x.selectedElementId(ElementId);
            var datas = { PIPId: x.selectedPIPId(), ElementId: ElementId };
            x.ActionParties([]);
            ajaxPost("@Url.Action("GetActionParty")", datas,
                    function (data) {
                        if (data.Success == true) {
                            //console.log(data);
                            if (data.Data != null) {
                                if (data.Data.ActionParties != null) {
                                    for (var i = 0; i < data.Data.ActionParties.length; i++) {
                                        x.ActionParties.push(data.Data.ActionParties[i]);
                                    }
                                }
                            }
                            x.processingActionParty(false);
                        } else {
                            x.processingActionParty(false);
                            alert(data.Message);
                        }
                    });

            $("#modalActionParty").modal("show");
        },
        saveActionParty: function () {
            var x = this;
            var ElementId = x.selectedElementId();
            console.log(ElementId);
            var datas = {
                PIPId: x.selectedPIPId(),
                ElementId: ElementId,
                ActionParties: ko.mapping.toJS(x.ActionParties())
            };
            var ActionParties = ko.mapping.toJS(x.ActionParties());

            model.uimodel().processingActionParty(true);
            ajaxPost("@Url.Action("SaveActionParty")", datas,
                    function (data) {
                        if (data.Success == true) {
                            var dataGrid = $("#GridPIP").data("kendoGrid").dataSource.data();
                            var newDataGrid = [];
                            for(var i=0; i < dataGrid.length; i++){
                                if(dataGrid[i].ElementId != ElementId){
                                    newDataGrid.push(dataGrid[i]);
                                }else{
                                    dataGrid[i].ActionParties = ActionParties;
                                    newDataGrid.push(dataGrid[i]);
                                }
                            }
                            refreshPIPElements(newDataGrid,x.isWAUExist());
                            model.uimodel().processingActionParty(false);
                            $("#modalActionParty").modal("hide");
                            //$('#GridPIP').data('kendoGrid').refresh();
                            //x.select(x.selectedPIPId(), x.WellName(), x.ActivityType(),x.SelectedPIPType());
                        } else {
                            model.uimodel().processingActionParty(false);
                            alert(data.Message);
                        }
                    });
            x.ActionParties([]);
            x.selectedElementId("");
        },

        //Comments : function (ElementId) {
        //    alert("ok");
        //    $("#modalComments").modal("show");
        //}
    });

    model.uimodel().ThemeNames().unshift("");


    model.reloadData = function () {
        //alert(ks(model.getFilterValues()));
        model.uimodel().refresh();
    }
    model.RoleData = ko.observableArray(
        (function (excludes) {
            var data = @MvcHtmlString.Create(JsonConvert.SerializeObject(DataHelper.Populate("WEISRoles").Select(d => d.GetString("_id")).OrderBy(d => d)));
            var result = [];

            for (var d in data) {
                var isFound = false;
                for (var e in excludes) {
                    if (String(data[d]).toLowerCase().indexOf(excludes[e]) > -1) {
                        isFound= true;
                        break;
                    }
                }
                if (!isFound) {
                    result.push(data[d]);
                }
            }

            return result;
        } (["administrators", "app-supports", "ro-all"]))
    );
    @*model.Roles = function () {
        this.RoleData = ko.observableArray(@MvcHtmlString.Create(JsonConvert.SerializeObject(
                        DataHelper.Populate("WEISRoles").Select(d => d.GetString("_id")).OrderBy(d => d)
                    )));
        this.selectedRoleId = ko.observable();
    };*@

    function refreshPIPElements(data,wau){
        var ds = new kendo.data.DataSource({
            data: data,
            //pageSize: 10,
            schema: {
                //data: "Phases",
                model: {
                    id: "ElementId",
                    fields: {
                        "Title": { type: "string" },
                        "Period.Start": { type: "date" },
                        "Period.Finish": { type: "date" },
                        "DaysPlanImprovement": { type: "number" },
                        "DaysPlanRisk": { type: "number" },
                        "CostPlanImprovement": { type: "number" },
                        "CostPlanRisk": { type: "number" },
                        //"CompletionPerc": { type: "number",editable:false },
                        "ElementId": { type: "number", editable: false },
                        "ActionParties": { editable: false },
                        "DaysCurrentWeekImprovement": { editable: wau || model.uimodel().isAdmin() == 1 },
                        "CostCurrentWeekImprovement": { editable: wau || model.uimodel().isAdmin() == 1 },
                        "DaysCurrentWeekRisk": { editable: wau || model.uimodel().isAdmin() == 1 },
                        "CostCurrentWeekRisk": { editable: wau || model.uimodel().isAdmin() == 1 },
                        //"Completion": { editable: wau }
                        "Completion": { editable: true }
                    }
                },
            },
            batch: true
        });

        $("#GridPIP").data("kendoGrid").setDataSource(ds);
    }

    function getProjectInfos(id, WellName, ActivityType) {
        if (model.uimodel().processing()) return;
        model.uimodel().processing(true);

        var x = model.uimodel();
        var WellName = x.WellName();
        //alert(WellName);
        if(x.SelectedPIPType() == "Efficient"){
            var url = "@Url.Action("SelectActivity")";
            var param = { WellName: WellName, ActivityType: ActivityType, Id: id };
        }else{
            var url = "@Url.Action("SelectActivityForCR")";
            var param = { WellName: WellName };
        }
        ajaxPost(url, param,
            function (data) {
                model.uimodel().processing(false);
                if (data.Result != "OK") {
                    alert(data.Message);
                    return;
                }
                //console.log(data);

                x.ProjectInfos.WellActivity(data.Data.Data);
                //console.log(data.Data.Data);
                if(data.Data.Data != null){
                    x.TeamLeadEmail(data.Data.Data.TeamLeadEmail == null ? "" : data.Data.Data.TeamLeadEmail);
                    x.LeadEngEmail(data.Data.Data.LeadEngineerEmail == null ? "" : data.Data.Data.LeadEngineerEmail);
                    x.OptmzEngEmail(data.Data.Data.OptimizationEngineerEmail == null ? "" : data.Data.Data.OptimizationEngineerEmail);
                    if(x.SelectedPIPType == "Efficient") x.ProjectInfos.Phase(data.Data.Data.Phases[0]);
                }
                x.ProjectInfos.PhaseMin(jsonDateStr(data.Data.PhaseMin));
                x.ProjectInfos.PhaseMax(jsonDateStr(data.Data.PhaseMax));
                x.PersonsForTeamLead([]);
                x.PersonsForLeadEng([]);
                x.PersonsForOptmzEng([]);

                for (var i = 0; i < x.Persons().length; i++) {
                    x.PersonsForTeamLead.push(x.Persons()[i])
                    x.PersonsForLeadEng.push(x.Persons()[i])
                    x.PersonsForOptmzEng.push(x.Persons()[i])
                }

                if ( data.Data.Data != null && (data.Data.Data.TeamLeadEmail == "" || data.Data.Data.TeamLeadEmail == null)) {
                    x.PersonsForTeamLead.unshift({ Email: "", FullName: data.Data.Data.TeamLead });
                }

                if ( data.Data.Data != null && (data.Data.Data.LeadEngineerEmail == "" || data.Data.Data.LeadEngineerEmail == null)) {
                    x.PersonsForLeadEng.unshift({ Email: "", FullName: data.Data.Data.LeadEngineer });
                }

                if ( data.Data.Data != null && (data.Data.Data.OptimizationEngineerEmail == "" || data.Data.Data.OptimizationEngineerEmail == null)) {
                    x.PersonsForOptmzEng.unshift({ Email: "", FullName: data.Data.Data.OptimizationEngineer });
                }


                //console.log(x.ProjectInfos.PhaseMin());
                model.uimodel().processing(false);
            }, function () {
                model.uimodel().processing(false);
            });

    }

    function getChangedData(grid_id, type) {
        var g = $("#" + grid_id);
        var updatedRecords = [];

        var gridData = g.data("kendoGrid").dataSource._data;
        gridData.forEach(function (f) {
            if (type == "dirty") {
                if (f.dirty) updatedRecords.push(f);
            } else {
                updatedRecords.push(f);
            }
        });


        //console.log(updatedRecords);

        //var data = {};
        //data.id = model.selectedWellId();
        var updated = updatedRecords;
        //$.extend(data, parameterMap({ updated: updatedRecords }));

        //console.log(data);
        for (var a = 0; a < updated.length; a++) {
            var b = updated[a];
            for (i in b) if (b.hasOwnProperty(i)) {
                //console.log(i);
                if (i.indexOf(".") > -1) {
                    delete updated[a][i];
                }
            }
        }

        return updated;
    }


</script>

<script id="CompletionPerc-Template" type="text/x-kendo-template">
    <strong>#: CompletionPerc #</strong>
</script>
<script>
    function createGauge() {
        $("#GridPIP").find("tr[data-uid]").each(function (i, e) {
            var eid = $(e).find("[data-eid]").attr("data-eid");
            if (typeof eid === String(undefined)) return;
            model.uimodel().UpdateCommentCounter(eid);
        });

        var grid = this;
        $(".gauge").each(function () {
            var gauge = $(this);
            var tr = gauge.closest('tr');
            var model = grid.dataItem(tr);
            gauge.kendoLinearGauge({
                pointer: {
                    value: model.CompletionPerc
                },

                scale: {
                    majorUnit: 50,
                    min: 0,
                    max: 100,
                    vertical: false,
                    labels: {
                        // set the format to currency
                        //format: "P0"
                    }
                }
            });
        })
    }

    function ShowPIPType(Type){
        return Type == "Reduction" ? "CR" : "CE";
    }

    var gridColumns = [
        {
            field: "WellName", title: "Well Name", filterable: false, width: 200,
            template: "<a style='cursor:pointer' onclick='model.uimodel().select(\"#: _id #\",\"#: WellName #\",\"#: ActivityType #\",\"#: Type #\")'>#: WellNameCalc(WellName,Type) #</a>"
        },
        { field: "RigName", title: "Rig Name", filterable: false, width: 120 },
        { field: "Type", title: "Type", filterable: false, width: 100, template:"#: ShowPIPType(Type) #" },
        { field: "SequenceId", title: "UA Rig<br>Sequence ID", width: 100 },
        {
            field: "ActivityType", title: "Activity",
            template: "<a style='cursor:pointer' onclick='model.uimodel().select(\"#: _id #\",\"#: WellName #\",\"#: ActivityType #\",\"#: Type #\")'>#: ActivityType #</a>"
        },
        {
            field: "OPStart", title: "OP Schedule",
            template: "#: jsonDateStr(OPStart)# -- #: jsonDateStr(OPFinish)#"
        },
        {
            field: "AFEStart", title: "AFE Schedule",
            template: "#: jsonDateStr(AFEStart) # -- #: jsonDateStr(AFEFinish) #",
            footerTemplate: "<div id='' class=''>Total All Elements:</div>"
        },
        {
            field: "", title: "Number of<br>Elements", width:100, attributes:{"style":"text-align:right"},template:"#: Elements.length #",
            //footerTemplate: "#: data.numberOfElement ? sum : 0 #"
            footerTemplate: "<div id='PIPTotalElements' class='cell-number' data-bind='text:model.uimodel().PIPTotalElements()'></div>"
        },
        //{ field: "Version", attributes: { style: "text-align:right" }, width: 80, filterable: false },
        //{ field: "AFEDays", attributes: { style: "text-align:right" } },
        //{ field: "PIPDaysImprovement", attributes: { style: "text-align:right" } },
        //{ field: "PIPDaysRisk", attributes: { style: "text-align:right" } },
        //{ field: "AFECost", attributes: { style: "text-align:right" } },
        //{ field: "AFECostImprovement", attributes: { style: "text-align:right" } },
        //{ field: "AFECostRisk", attributes: { style: "text-align:right" } },
        //{
        //    field: "Status", title: "Status", width:80,
        //    template: "<label class=\"label #: Status=='Draft' ? 'label-warning' : Status=='Publish' ? 'label-success' : '' #\">#: Status #</label>"
        //},
        //{
        //    field: "_id", title: "Delete",width:100,
        //    template: "<button class='btn btn-xs btn-danger' onclick='model.uimodel().deletePIPDoc(\"#: _id #\")'>Delete</a>"
        //}
    ];
    if (model.uimodel().isRO() != "1") {
        gridColumns.push(
        {
            field: "_id", title: "Delete", width: 100,
            template: "<button class='btn btn-xs btn-danger' onclick='model.uimodel().deletePIPDoc(\"#: _id #\")'>Delete</a>"
        });
    }

    function WellNameCalc(WellName, Type){
        var wn = WellName;
        if(Type == "Reduction"){
            wn = WellName.replace("_CR","");
        }
        return wn;
    }

    var gridColumnsAdd = [
        { field: "WellName", title: "Well Name", filterable: false, width: 200 },
        { field: "UARigSequenceId", title: "UA Rig Sequence ID", width: 200 },
        {
            field: "ActivityType", title: "Activity"
        },
        {
            field: "_id", title: "Action",
            template: "<button class='btn btn-xs btn-warning' onclick='model.uimodel().createPIPDoc(#: _id #,#: PhaseNo #, \"#: WellName #\")'>Create PIP Document</a>"
        }
    ];

    var headerUnitWith = 80;
    var buildHeaderTemplate = function (title, unit) {
        return "<a class='k-link'>" + title + "</a><span class='k-unit'>(" + unit + ")</a>";
    };

    var gridColumnsPIP = [


        { field: "Title", title: "Idea", filterable: false, width: 100 },
        { field: "Period.Start", width: 80, title: "Activity Start", filterable: false, template: "#: jsonDateStr(Period.Start) #", attributes: { class: "cell-date" } },
        { field: "Period.Finish", width: 80, title: "Activity End", filterable: false, template: "#: jsonDateStr(Period.Finish) #", attributes: { class: "cell-date" } },
        //{
        //    field: "Period", title: "Activity Period", attributes: { class: "cell-date" }, columns: [
        //        { field: "Start", title: "Start", filterable: false, template: "#: jsonDateStr(Period.Start) #", attributes: { class: "cell-date" } },
        //        { field: "Finish", title: "Finish", filterable: false, template: "#: jsonDateStr(Period.Finish) #", attributes: { class: "cell-date" } }
        //]},
        //{
        //    field: "CompletionPerc", title: "Completion", filterable: false,
        //    template: '<div class="gauge" style="min-height:100px"></div>',
        //    attributes: { class: "cell-date" }
        //},

        {
            field: "Theme", title: "Theme", filterable: false, width: 100,
            editor: function (container, option) {
                var input = $("<input data-bind=\"value:" + option.field + "\"></input>");
                input.appendTo(container);
                input.kendoDropDownList({
                    //dataTextField: "Name",
                    //dataValueField: "Name",
                    dataSource: new kendo.data.DataSource({
                        data: model.uimodel().ThemeNames()
                    })
                });
            }
        },
        {
            field: "Completion", title: "Completion", filterable: false,
            //template: '#: Completion # %',
            attributes: { class: "cell-number" },
            width: 70,
            editor: function (container, option) {
                //var input = $("<input min='0' max='100' data-bind=\"value:" + option.field + "\"></input>");
                //input.appendTo(container);
                //input.kendoNumericTextBox();
                var input = $("<input data-bind=\"value:" + option.field + "\"></input>");
                input.appendTo(container);
                input.kendoDropDownList({
                    //dataTextField: "Name",
                    //dataValueField: "Name",
                    dataSource: new kendo.data.DataSource({
                        data: ["","Realized","Not Yet Realized"]
                    })
                });
            }

            //    var input = $("<input data-bind=\"value:" + option.field + "\"></input>");
            //    input.appendTo(container);
            //    input.kendoDropDownList({
            //        dataTextField: "text",
            //        dataValueField: "value",
            //        dataSource: dataCompletion,
            //        index: 0
            //    });
            //}
        },

        {
            field: "DaysPlanImprovement", title: "Plan<br>Days Opp", filterable: false, attributes: { class: "cell-number" }, width: headerUnitWith, format: "{0:N2}",
            editor: function (container, option) {
                var input = $("<input max='0' data-bind=\"value:" + option.field + "\"></input>");
                input.appendTo(container);
                input.kendoNumericTextBox();
            },
            headerTemplate: buildHeaderTemplate("Plan<br>Days Opp", "days"),
            footerTemplate: "<div id='footer1' class='cell-number' data-bind='text:model.uimodel().DaysPlanImprovementTotal()'></div>"
        },
        {
            field: "DaysPlanRisk", title: "Plan<br>Days Risk", filterable: false, attributes: { class: "cell-number" }, width: headerUnitWith, format: "{0:N2}",
            editor: function (container, option) {
                var input = $("<input min='0' data-bind=\"value:" + option.field + "\"></input>");
                input.appendTo(container);
                input.kendoNumericTextBox();
            },
            headerTemplate: buildHeaderTemplate("Plan<br>Days Risk", "days"),
            footerTemplate: "<div id='footer2' class='cell-number' data-bind='text:model.uimodel().DaysPlanRiskTotal()'></div>"
        },
        {
            field: "CostPlanImprovement", title: "Plan<br>Cost Opp", filterable: false, attributes: { class: "cell-number" }, width: headerUnitWith, format: "{0:N2}",
            editor: function (container, option) {
                var input = $("<input max='0' data-bind=\"value:" + option.field + "\"></input>");
                input.appendTo(container);
                input.kendoNumericTextBox();
            },
            headerTemplate: buildHeaderTemplate("Plan<br>Cost Opp", "$ mln"),
            footerTemplate: "<div id='footer3' class='cell-number' data-bind='text:model.uimodel().CostPlanImprovementTotal()'></div>"
        },
        {
            field: "CostPlanRisk", title: "Plan<br>Cost Risk", filterable: false, attributes: { class: "cell-number" }, width: headerUnitWith, format: "{0:N2}",
            editor: function (container, option) {
                var input = $("<input min='0' data-bind=\"value:" + option.field + "\"></input>");
                input.appendTo(container);
                input.kendoNumericTextBox();
            },
            headerTemplate: buildHeaderTemplate("Plan<br>Cost Risk", "$ mln"),
            footerTemplate: "<div id='footer4' class='cell-number' data-bind='text:model.uimodel().CostPlanRiskTotal()'></div>"
        },
        {
            field: "DaysCurrentWeekImprovement", title: "LE<br>Days Opp", filterable: false, width: headerUnitWith, format: "{0:N2}", attributes: { class: "cell-number" },
            editor: function (container, option) {
                var input = $("<input max='0' data-bind=\"value:" + option.field + "\"></input>");
                input.appendTo(container);
                input.kendoNumericTextBox();
            },
            headerTemplate: buildHeaderTemplate("LE<br>Days Opp", "days"),
            footerTemplate: "<div id='footer5' class='cell-number' data-bind='text:model.uimodel().DaysCurrentWeekImprovementTotal()'></div>"
        },
        {
            field: "DaysCurrentWeekRisk", title: "LE<br>Days Risk", filterable: false, width: headerUnitWith, format: "{0:N2}", attributes: { class: "cell-number" },
            editor: function (container, option) {
                var input = $("<input min='0' data-bind=\"value:" + option.field + "\"></input>");
                input.appendTo(container);
                input.kendoNumericTextBox();
            },
            headerTemplate: buildHeaderTemplate("LE<br>Days Risk", "days"),
            footerTemplate: "<div id='footer6' class='cell-number' data-bind='text:model.uimodel().DaysCurrentWeekRiskTotal()'></div>"
        },
        {
            field: "CostCurrentWeekImprovement", title: "LE<br>Cost Opp", filterable: false, width: headerUnitWith, format: "{0:N2}", attributes: { class: "cell-number" },
            editor: function (container, option) {
                var input = $("<input max='0' data-bind=\"value:" + option.field + "\"></input>");
                input.appendTo(container);
                input.kendoNumericTextBox();
            },
            headerTemplate: buildHeaderTemplate("LE<br>Cost Opp", "$ mln"),
            footerTemplate: "<div id='footer7' class='cell-number' data-bind='text:model.uimodel().CostCurrentWeekImprovementTotal()'></div>"
        },
        {
            field: "CostCurrentWeekRisk", title: "LE<br>Cost Risk", filterable: false, width: headerUnitWith, format: "{0:N2}", attributes: { class: "cell-number" },
            editor: function (container, option) {
                var input = $("<input min='0' data-bind=\"value:" + option.field + "\"></input>");
                input.appendTo(container);
                input.kendoNumericTextBox();
            },
            headerTemplate: buildHeaderTemplate("LE<br>Cost Risk", "$ mln"),
            footerTemplate: "<div id='footer8' class='cell-number' data-bind='text:model.uimodel().CostCurrentWeekRiskTotal()'></div>"
        },
        {
            field: "Classification", title: "Classification", filterable: false, width: 110,
            editor: function (container, option) {
                var input = $("<input data-bind=\"value:" + option.field + "\"></input>");
                input.appendTo(container);
                input.kendoDropDownList({
                    //dataTextField: "Name",
                    //dataValueField: "Name",
                    dataSource: new kendo.data.DataSource({
                        data: model.uimodel().Classifications()
                    })
                });
            }

        },
        {
            field: "PerformanceUnit", title: "Performance Unit", filterable: false, width: 110,
            editor: function (container, option) {
                var input = $("<input data-bind=\"value:" + option.field + "\"></input>");
                input.appendTo(container);
                input.kendoDropDownList({ dataSource: { data: model.uimodel().PerformanceUnits() } });
            }
        },
        {
            field: "ActionParties", title: "Action Party", filterable: false, template: "#: joinActionParties(ActionParties) #", width: 100
        }
    ];

    if (model.uimodel().isRO() != "1") {
        gridColumnsPIP.push(
        {
            field: "ElementId", title: "Action", width: 100, filterable: false,
            //template: "<button type='button' class='btn btn-success btn-xs' onclick='model.uimodel().openManageActionPartyModal(#: ElementId #)'>Manage Act Party</button>&nbsp; <button type='button' class='btn btn-warning btn-xs' onclick='model.uimodel().openAllocationModal(#: ElementId #,\"#: Title #\",\"#: Period.Start #\",\"#: Period.Finish #\",#: DaysPlanImprovement #,#: DaysPlanRisk #,#: CostPlanImprovement #,#: CostPlanRisk #)'>Allocate</button>&nbsp; <button type='button' class='btn btn-danger btn-xs' onclick='model.uimodel().deletePIP(#: ElementId #)'>Delete</button>"
            template:
                "<span style='cursor:pointer' class='glyphicon glyphicon-user' title='Click To Manage Action Party' onclick='model.uimodel().openManageActionPartyModal(#: ElementId #)'></span>&nbsp;&nbsp;&nbsp; \
                 <span style='cursor:pointer' onclick='model.uimodel().openAllocationModal(#: ElementId #,\"#: Title #\",\"#: Period.Start #\",\"#: Period.Finish #\",#: DaysPlanImprovement #,#: DaysPlanRisk #,#: CostPlanImprovement #,#: CostPlanRisk #,#: DaysCurrentWeekImprovement + DaysCurrentWeekRisk #,#: CostCurrentWeekImprovement + CostCurrentWeekRisk #)' class='glyphicon glyphicon-time' title='Click To Allocate'></span>&nbsp;&nbsp;&nbsp;\
                 <span style='cursor:pointer' class='glyphicon glyphicon-trash' onclick='model.uimodel().deletePIP(#: ElementId #)' title='Click To Delete'></span>&nbsp;&nbsp;&nbsp;\
                 <span style='cursor:pointer' onclick='model.uimodel().Comments(#: ElementId #)' data-eid='#: ElementId #' class='glyphicon glyphicon-comment' title='Click to Add Comments'><b class='comment-counter'></b></span> \
                "
        }
        );
    }
    var gridColumnsPerformanceMetrics = [
        {
            field: "Title", title: "Title", filterable: false, width: 110,
            editor: function (container, option) {
                var input = $("<input data-bind=\"value:" + option.field + "\"></input>");
                input.appendTo(container);
                input.kendoDropDownList({ dataSource: { data: model.uimodel().MetricDropDown() } });
            }
        },
        { field: "Schedule", title: "Schedule (Days)", filterable: false, attributes: { class: "cell-number" }, width: 100 },
        { field: "Cost", title: "Cost ($MM)", filterable: false, attributes: { class: "cell-number" }, width: 100 },
    ];
    if (model.uimodel().isRO() != "1") {
        gridColumnsPerformanceMetrics.push(
        { field: "", title: "Delete", editable: false, filterable: false, attributes: { class: "cell-date" }, width: 70, template: "<button type='button' class='btn btn-danger btn-xs' onclick='model.uimodel().deletePerfMetrics(\"#: Title #\",\"#: Schedule #\",\"#: Cost #\")'>Delete</button>" }
        );
    }

    var gridColumnsProjectMilestone = [
        { field: "Title", title: "Title", filterable: false },
        { field: "Period", title: "Period", filterable: false, template: "#: jsonDateStr(Period) #", attributes: { class: "cell-date" }, width: 150 },
    ];
    if (model.uimodel().isRO() != "1") {
        gridColumnsProjectMilestone.push(
               { field: "", title: "Delete", editable: false, filterable: false, attributes: { class: "cell-date" }, width: 70, template: "<button type='button' class='btn btn-danger btn-xs' onclick='model.uimodel().deleteProjectMilestone(\"#: Title #\",\"#: Period #\")'>Delete</button>" }

        );
    }

    var gridColumnsProjectInformation = [
        { field: "Title", title: "Title", filterable: false },
        { field: "Detail", title: "Detail", filterable: false }
    ];

    var gridColumnsAllocation = [
        { field: "Period", title: "Period", filterable: false, editable: false, footerTemplate: "<div>Total</div><div>Origin</div><div>Different</div>" },
        {
            field: "DaysPlanImprovement", title: "Days Plan<br>Improvement", filterable: false, attributes: { class: "cell-number" }, editable: true,
            footerTemplate: "<div id='' class='cell-number'>Total</div><div class='cell-number'>#: get_allocation_total('dpi') #</div><div class='cell-number'>Different</div>"
        },
        {
            field: "DaysPlanRisk", title: "Days Plan<br>Risk", filterable: false, attributes: { class: "cell-number" }, editable: true,
            footerTemplate: "<div class='cell-number'>Total</div><div class='cell-number'>#: get_allocation_total('dpr') #</div><div class='cell-number'>Different</div>"
        },
        {
            field: "CostPlanImprovement", title: "Cost Plan<br>Improvement", filterable: false, attributes: { class: "cell-number" }, editable: true,
            footerTemplate: "<div class='cell-number'>Total</div><div class='cell-number'>#: get_allocation_total('cpi') #</div><div class='cell-number'>Different</div>"
        },
        {
            field: "CostPlanRisk", title: "Cost Plan<br>Risk", filterable: false, attributes: { class: "cell-number" }, editable: true,
            footerTemplate: "<div class='cell-number'>Total</div><div class='cell-number'>#: get_allocation_total('cpr') #</div><div class='cell-number'>Different</div>"
        }
    ];

    function getTotal(DataElements) {
        var CostPlanRiskTotal = 0;
        var CostPlanImprovementTotal = 0;
        var DaysPlanRiskTotal = 0;
        var DaysPlanImprovementTotal = 0;
        var CostCurrentWeekImprovementTotal = 0;
        var CostCurrentWeekRiskTotal = 0;
        var DaysCurrentWeekImprovementTotal = 0;
        var DaysCurrentWeekRiskTotal = 0;

        for (var i = 0; i < DataElements.length; i++) {
            CostPlanImprovementTotal = CostPlanImprovementTotal + DataElements[i].CostPlanImprovement;
            CostPlanRiskTotal = CostPlanRiskTotal + DataElements[i].CostPlanRisk;
            DaysPlanImprovementTotal = DaysPlanImprovementTotal + DataElements[i].DaysPlanImprovement;
            DaysPlanRiskTotal = DaysPlanRiskTotal + DataElements[i].DaysPlanRisk;

            CostCurrentWeekImprovementTotal = CostCurrentWeekImprovementTotal + DataElements[i].CostCurrentWeekImprovement;
            CostCurrentWeekRiskTotal = CostCurrentWeekRiskTotal + DataElements[i].CostCurrentWeekRisk;
            DaysCurrentWeekImprovementTotal = DaysCurrentWeekImprovementTotal + DataElements[i].DaysCurrentWeekImprovement;
            DaysCurrentWeekRiskTotal = DaysCurrentWeekRiskTotal + DataElements[i].DaysCurrentWeekRisk;

        }

        model.uimodel().CostPlanRiskTotal(CostPlanRiskTotal);
        model.uimodel().CostPlanImprovementTotal(CostPlanImprovementTotal);
        model.uimodel().DaysPlanRiskTotal(DaysPlanRiskTotal);
        model.uimodel().DaysPlanImprovementTotal(DaysPlanImprovementTotal);
        model.uimodel().CostCurrentWeekImprovementTotal(CostCurrentWeekImprovementTotal);
        model.uimodel().CostCurrentWeekRiskTotal(CostCurrentWeekRiskTotal);
        model.uimodel().DaysCurrentWeekImprovementTotal(DaysCurrentWeekImprovementTotal);
        model.uimodel().DaysCurrentWeekRiskTotal(DaysCurrentWeekRiskTotal);
    }

    function get_allocation_total(type) {
        switch (type) {
            case "dpr":
                return model.uimodel().dpr();
                break;
            case "dpi":
                return model.uimodel().dpi();
                break;
            case "cpr":
                return model.uimodel().cpr();
                break;
            case "cpi":
                return model.uimodel().cpi();
                break;
        }
    }

    function joinActionParties(ActionParties) {
        var a = [];
        if (ActionParties != null) {
            for (var i = 0; i < ActionParties.length; i++) {
                a.push(ActionParties[i].FullName);
            }
            return a.join();
        } else {
            return "";
        }
    }

    function addClassification() {
        var name = prompt("Insert new name of Classification:");
        if ((name != null) && (name != "")) {
            //alert(name);
            model.uimodel().ClassificationName(name);
            model.uimodel().SaveClassification();
        }
    }

    function changePIPType(){
        var type = $("#PIPType").val();
        var ds = new kendo.data.DataSource({
            data: [],
            pageSize: 10,
        });
        $("#gridAdd").data("kendoGrid").setDataSource(ds)
        $("#WellNames").data("kendoMultiSelect").value("");
        $("#RigNames").data("kendoMultiSelect").value("");
        $("#Activities").data("kendoMultiSelect").value("");
        if(type == "Efficient"){
            $("#RigNames").data("kendoMultiSelect").enable(false);
            $("#WellNames").data("kendoMultiSelect").enable(true);
            $("#Activities").data("kendoMultiSelect").enable(true);
        }else{
            $("#RigNames").data("kendoMultiSelect").enable(true);
            $("#WellNames").data("kendoMultiSelect").enable(false);
            $("#Activities").data("kendoMultiSelect").enable(false);
        }
    }

</script>

<div data-bind="with:uimodel">

    <div data-bind="visible:processing()==true">
        @Html.Partial("_processing")
    </div>

    <div data-bind="visible:processing()==false">
        <div class="ec-panel" data-bind="visible:mode()==''">
            <div>
                @Html.Partial("Filter")
            </div>

            <div class="clearfix"></div>
            <div class="ec-toolbar">
                <button data-bind="click: addNew,visible:!model.uimodel().isRO()=='1'" class="btn btn-warning btn-custom btn-sm"><span class="glyphicon glyphicon-plus"></span> Add New</button>
                <button class="btn btn-sm btn-success" style="margin-left:10px" onclick="model.uimodel().downloadAllPIP()"><span class="glyphicon glyphicon-download"></span> Download PIP</button>
            </div>

            <div id="grid" data-bind="kendoGrid:{data:[],columns:gridColumns,pageable:true,sortable:true,filterable:true}"></div>
        </div>

        <!-- Add new PIP Document -->
        <div class="ec-panel" data-bind="visible:['New'].indexOf(mode())>=0">
            <div class="ec-toolbar">
                <button class="btn btn-warning btn-sm btn-custom" data-bind="click:cancel">
                    <span class="glyphicon glyphicon-arrow-left"></span> Back to List
                </button>
            </div>
            <div class="col-md-12 row" style="margin-bottom:20px;">
                <div class="col-md-4">
                    <div class="col-md-4">
                        <label>Type: </label>
                    </div>
                    <div class="col-md-8">
                        <select id="PIPType" onchange="changePIPType()">
                            <option value="Efficient">Capital Efficient</option>
                            <option value="Reduction">Capital Reduction</option>
                        </select>
                    </div>
                </div>

                <!-- by wellname -->
                <div class="col-md-4">
                    <div class="col-md-4">
                        <label>Well: </label>
                    </div>
                    <div class="col-md-8">
                        <select id="WellNames" data-placeholder="Select wells ..."></select>
                    </div>
                </div>
                <div class="clearfix"></div>

                <!-- by rigname -->
                <div class="col-md-4">
                    <div class="col-md-4">
                        <label>Rig: </label>
                    </div>
                    <div class="col-md-8">
                        <select id="RigNames" data-placeholder="Select rigs ..."></select>
                    </div>
                </div>
                <!-- by activities -->
                <div class="col-md-4">
                    <div class="col-md-4">
                        <label>Activities: </label>
                    </div>
                    <div class="col-md-8">
                        <select id="Activities" data-model="" data-placeholder="Select activities ..."></select><br />
                        <button class="btn btn-custom btn-sm btn-primary" onclick="model.uimodel().SearchAddNew()">
                            <span class="glyphicon glyphicon-refresh"></span> Refresh
                        </button>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            <div data-bind="visible:processing()==true">
                @Html.Partial("_processing")
            </div>
            <div data-bind="visible:!processing()==true">
                <div id="gridAdd" data-bind="kendoGrid:{data:[],columns:gridColumnsAdd,pageable:true,sortable:true,filterable:true}"></div>
            </div>
        </div>

        <!-- End Add New PIP Document -->
        @*<div class="ec-panel" data-bind="visible:['New'].indexOf(mode())>=0">
                <div class="ec-toolbar">
                    <button class="btn btn-warning btn-sm" data-bind="click:cancel">Back to List</button>
                </div>
                <div data-bind="with:record" class="ec-form form-horizontal">
                    <p>
                        Please select from list OPS Sequence activity below
                    </p>
                </div>
                <div id="gridAct" data-bind="kendoGrid:{data:[],columns:gridColumns,pageable:true,sortable:true,filterable:true}"></div>
            </div>*@

        <div class="ec-panel" data-bind="visible:['Edit'].indexOf(mode())>=0">
            <div class="ec-toolbar">
                <button class="btn btn-warning btn-sm" data-bind="click:cancel">Back to List</button>
                @*<button class="btn btn-primary btn-sm" data-bind="click:save">Save</button>*@
            </div>
            <div class="ec-form form-horizontal">
                @*<div class="form-group">
                        <label class="col-sm-2">Well Name</label>
                        <div class="col-sm-4">
                            <input type="text" data-bind="value:WellName" class="full" disabled />
                        </div>
                        <label class="col-sm-2">Activity</label>
                        <div class="col-sm-4">
                            <input type="text" data-bind="value:ActivityType" class="full" disabled />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2">Version</label>
                        <div class="col-sm-4">
                            <input type="text" class="align_right" data-bind="value:Version" disabled />
                        </div>
                        <label class="col-sm-2">Status</label>
                        <div class="col-sm-4">
                            <select data-bind="value:Status">
                                <option value="Draft">Draft</option>
                                <option value="Publish">Publish</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <script>
                            //makeField("Project", "value:Project", "col-sm-2", "col-sm-4", "full");
                            //makeField("Work Unit", "value:WorkUnit", "col-sm-2", "col-sm-4", "full");
                        </script>
                    </div>*@

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist" style="margin-bottom:20px;">
                    <li role="presentation" class="active">
                        <a href="#infos" aria-controls="home" role="tab" data-toggle="tab">Project Info &amp; Ideas</a>
                    </li>
                    <li role="presentation">
                        <a href="#metrics" aria-controls="profile" role="tab" data-toggle="tab">Metrics &amp; Milestone</a>
                    </li>
                    <li role="presentation">
                        <a href="#waterfall" aria-controls="profile" role="tab" data-toggle="tab">Waterfall</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="infos" data-bind="with:ProjectInfos">


                        <h3>Project Information</h3>
                        <div class="ec-toolbar">
                            <button class="btn btn-warning btn-sm" data-bind="visible:!model.uimodel().isRO()=='1'" onclick="model.uimodel().saveProjectInfos()">Save Changes</button>
                        </div>
                        <div class="col-md-12 row">
                            <div class="col-md-6" data-bind="visible:model.uimodel().ProjectInfosPIPType() == 'Efficient'">
                                <div class="col-md-4 cell-number">
                                    <label>Project Name: </label>
                                </div>
                                <div class="col-md-8" data-bind="text:model.uimodel().ProjectInfos.WellActivity() == null ? '' : WellActivity().ProjectName"></div>
                            </div>

                            <div class="col-md-6">
                                <div class="col-md-4 cell-number">
                                    <label>Project Type: </label>
                                </div>
                                <div class="col-md-8">
                                    <select data-bind="value:model.uimodel().ProjectInfosProjectType,enable:!model.uimodel().isRO()=='1'">
                                        <option value="">Select one</option>
                                        <option value="Abandonment">Abandonment</option>
                                        <option value="Development">Development</option>
                                        <option value="Exploration">Exploration</option>
                                        <option value="WRFM">WRFM</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="col-md-4 cell-number">
                                    <label>Field/Prospect: </label>
                                </div>
                                <div class="col-md-8"><input type="text" style="width:80%;font-size:12px;height:20px;" data-bind="value:model.uimodel().ProjectInfosField,enable:!model.uimodel().isRO()=='1'" /></div>
                            </div>

                            <div class="col-md-6" data-bind="visible:model.uimodel().ProjectInfosPIPType() == 'Efficient'">
                                <div class="col-md-4 cell-number">
                                    <label>Common Well Name: </label>
                                </div>
                                <div class="col-md-8" data-bind="text:model.uimodel().ProjectInfos.WellActivity() == null ? '' : WellActivity().WellName"></div>
                            </div>

                            <div class="col-md-6" data-bind="visible:model.uimodel().ProjectInfosPIPType() == 'Efficient'">
                                <div class="col-md-4 cell-number">
                                    <label>Activity Type: </label>
                                </div>
                                <div class="col-md-8" data-bind="text:model.uimodel().ProjectInfos.WellActivity() == null ? '' : Phase().ActivityType"></div>
                            </div>

                            <div class="col-md-6" data-bind="visible:model.uimodel().ProjectInfosPIPType() == 'Efficient'">
                                <div class="col-md-4 cell-number">
                                    <label>Rig: </label>
                                </div>
                                <div class="col-md-8" data-bind="text:model.uimodel().ProjectInfos.WellActivity() == null ? '' : WellActivity().RigName"></div>
                            </div>

                            <div class="col-md-6" data-bind="visible:model.uimodel().ProjectInfosPIPType() != 'Efficient'">
                                <div class="col-md-4 cell-number">
                                    <label>Rig: </label>
                                </div>
                                <div class="col-md-8" data-bind="text:model.uimodel().ProjectInfosRigName"></div>
                            </div>

                            <div class="col-md-6">
                                <div class="col-md-4 cell-number">
                                    <label>Scaled?: </label>
                                </div>
                                <div class="col-md-8">
                                    <select data-bind="value:model.uimodel().ProjectInfosScaled,enable:!model.uimodel().isRO()=='1'">
                                        <option value="">Select one</option>
                                        <option value="Yes">Yes</option>
                                        <option value="No">No</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6" data-bind="visible:model.uimodel().ProjectInfosPIPType() == 'Efficient'">
                                <div class="col-md-4 cell-number">
                                    <label>Rig Schedule Start Date: </label>
                                </div>
                                <div class="col-md-8" data-bind="text:model.uimodel().ProjectInfos.WellActivity() == null ? '' : PhaseMin"></div>
                            </div>

                            <div class="col-md-6" data-bind="visible:model.uimodel().ProjectInfosPIPType() == 'Efficient'">
                                <div class="col-md-4 cell-number">
                                    <label>Rig Schedule End Date: </label>
                                </div>
                                <div class="col-md-8" data-bind="text:model.uimodel().ProjectInfos.WellActivity() == null ? '' : PhaseMax"></div>
                            </div>

                            <div class="col-md-6">
                                <div class="col-md-4 cell-number">
                                    <label>Cost Level: </label>
                                </div>
                                <div class="col-md-8">
                                    <select data-bind="value:model.uimodel().ProjectInfosCostLevel,enable:!model.uimodel().isRO()=='1'">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="col-md-4 cell-number">
                                    <label>Team Lead: </label>
                                </div>
                                <select name="TeamLead" id="TeamLead" style="width: 220px; "
                                        data-bind="kendoDropDownList: { data: model.uimodel().PersonsForTeamLead, dataTextField: 'FullName', dataValueField: 'Email', value: model.uimodel().TeamLeadEmail }"></select>
                                @*<div class="col-md-8" data-bind="text: WellActivity().TeamLead"></div>*@
                            </div>

                            <div class="col-md-6">
                                <div class="col-md-4 cell-number">
                                    <label>Lead Engineer: </label>
                                </div>
                                <select name="LeadEng" id="LeadEng" style="width: 220px; "
                                        data-bind="kendoDropDownList: { data: model.uimodel().PersonsForLeadEng, dataTextField: 'FullName', dataValueField: 'Email', value: model.uimodel().LeadEngEmail }"></select>
                                @*<div class="col-md-8" data-bind="text: WellActivity().LeadEngineer"></div>*@
                            </div>

                            <div class="col-md-6">
                                <div class="col-md-4 cell-number">
                                    <label>Optimization Engineer: </label>
                                </div>
                                <select name="OptmzEng" id="OptmzEng" style="width: 220px; "
                                        data-bind="kendoDropDownList: { data: model.uimodel().PersonsForOptmzEng, dataTextField: 'FullName', dataValueField: 'Email', value: model.uimodel().OptmzEngEmail }"></select>
                                @*<div class="col-md-8" data-bind="text: WellActivity().OptimizationEngineer"></div>*@
                            </div>
                        </div>

                        <div class="clearfix"></div>


                        <div class="col-md-12" id="" style="margin-bottom:20px;display:none;">
                            <div class="col-md-4">&nbsp;</div>
                            <div class="col-md-4">
                                <h3>Project Information</h3>
                                <div class="row" id="grid_project_information" data-bind="kendoGrid:{data:[],columns:gridColumnsProjectInformation,pageable:false,sortable:true,filterable:true}"></div>
                            </div>
                            <div class="col-md-4">&nbsp;</div>
                        </div>

                        <div class="clearfix"></div>

                        <h3 style="margin-top:20px;">Improvement Ideas</h3>

                        <div class="ec-toolbar">
                            @*<button class="btn btn-success btn-sm" onclick="model.uimodel().addClassification()">+ Add Classification</button>*@
                            <button class="btn btn-primary btn-sm" onclick="model.uimodel().addPIP()" data-bind="visible:!model.uimodel().isRO()=='1'">+ Add PIP</button>
                            <button class="btn btn-warning btn-sm" onclick="model.uimodel().editPIP()" data-bind="visible:!model.uimodel().isRO()=='1'">Save Changes</button>
                            <span style="color:grey;" data-bind="visible:!model.uimodel().isRO()=='1'">(Inline editing is enabled, click: <span class='glyphicon glyphicon-user'></span>  to Manage Action Party, click <span class='glyphicon glyphicon-time'></span> to Allocate, click <span class='glyphicon glyphicon-comment'></span> to View Comment, and click <span class='glyphicon glyphicon-trash'></span> to Delete)</span>
                        </div>
                        <div style="margin-bottom:20px;" id="GridPIP" data-bind="kendoGrid:{data:[],columns:gridColumnsPIP,pageable:true,sortable:true,filterable:true,editable:!model.uimodel().isRO() == '1',dataBound:createGauge}"></div>

                    </div>
                    <div role="tabpanel" class="tab-pane" id="metrics">

                        <div class="col-md-5" style="float:left;" id="performance_metrics_wrapper" data-bind="">
                            <h3>Performance Metrics</h3>
                            <div class="ec-toolbar">
                                <button class="btn btn-primary btn-sm" onclick="model.uimodel().addPerformanceMetrics()" data-bind="visible:!model.uimodel().isRO()=='1'">+ Add</button>
                                <button class="btn btn-warning btn-sm" onclick="model.uimodel().editPerfMetrics()" data-bind="visible:!model.uimodel().isRO()=='1'">Save Changes</button>
                                <span style="color:grey;" data-bind="visible:!model.uimodel().isRO()=='1'">(Inline editing is enabled)</span>
                            </div>
                            <div class="row" id="grid_performance_metrics" data-bind="kendoGrid:{data:[],columns:gridColumnsPerformanceMetrics,pageable:true,sortable:true,filterable:true,editable:!model.uimodel().isRO() == '1'}"></div>
                        </div>

                        <div class="col-md-5" style="float:right;" id="project_milestone_wrapper" data-bind="">
                            <h3>Project Milestone</h3>
                            <div class="ec-toolbar">
                                <button class="btn btn-primary btn-sm" onclick="model.uimodel().addProjectMilestone()" data-bind="visible:!model.uimodel().isRO()=='1'">+ Add</button>
                                <button class="btn btn-warning btn-sm" onclick="model.uimodel().editProjectMilestone()" data-bind="visible:!model.uimodel().isRO()=='1'">Save Changes</button>
                                <span style="color:grey;" data-bind="visible:!model.uimodel().isRO()=='1'">(Inline editing is enabled)</span>
                            </div>
                            <div class="row" id="grid_project_milestone" data-bind="kendoGrid:{data:[],columns:gridColumnsProjectMilestone,pageable:true,sortable:true,filterable:true,editable:!model.uimodel().isRO() == '1'}"></div>

                        </div>

                    </div>

                    <div class="clearfix"></div>

                    @Html.Partial("_modals")
                    @Html.Partial("_comments")

                    <div id="waterfall" class="tab-pane">
                        @Html.Partial("_waterfall")
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<script>
    $(document).ready(function () {
        initPage();

        var $performanceMetricDrop = $('<div class="col-md-4" data-bind="visible: RigTypes"><div class="col-md-4"><label>Performance Metrics:</label></div><div class="col-md-8"><select data-model="performanceMetrics"></select></div></div>');
        $performanceMetricDrop.insertAfter($('[data-model=wellNames]').closest('.col-md-4'));
        $performanceMetricDrop.find('select').kendoMultiSelect({ placeholder: "Select performance metrics ...", dataSource: { data: model.uimodel().MetricDropDown() } });


        var $performanceUnits = $('<div class="col-md-4" data-bind="visible: RigTypes"><div class="col-md-4"><label>Performance Units:</label></div><div class="col-md-8"><select data-model="performanceUnits"></select></div></div>');
        $performanceUnits.insertAfter($('[data-model=wellNames]').closest('.col-md-4'));
        $performanceUnits.find('select').kendoMultiSelect({ placeholder: "Select performance units ...", dataSource: { data: model.uimodel().PerformanceUnits() } });

        var $PIPType = $('<div class="col-md-4" data-bind="visible: RigTypes"><div class="col-md-4"><label>PIP Type:</label></div><div class="col-md-8"><select id="PIPTypeFilter"></select></div></div>');
        $PIPType.insertAfter($('[data-model=activities]').closest('.col-md-4'));
        $PIPType.find('select').kendoDropDownList({ placeholder: "Select PIP Type ...", dataSource: [{Label:"All", Value:"All"},{Label:"CE", Value:"Efficient"},{Label:"CR", Value:"Reduction"}], dataTextField:"Label", dataValueField:"Value" });

        //var $btnDownload = $('<button class="btn btn-sm btn-success" style="margin-left:10px" onclick="model.uimodel().downloadAllPIP()"><span class="glyphicon glyphicon-download"></span> Download PIP</button>');
        //$btnDownload.insertAfter($('.do-filter'));

        $("#WellNames").kendoMultiSelect({ placeholder: "Select Well Names ...", dataSource: { data: model.uimodel().WellNames() } });
        $("#RigNames").kendoMultiSelect({ placeholder: "Select Rig Names ...", dataSource: { data: model.uimodel().RigNames() } });
        $("#Activities").kendoMultiSelect({ placeholder: "Select Well Activities ...", dataSource: { data: model.uimodel().Activities() } });
        $("#PlanDaysOpp").kendoNumericTextBox();
        $("#PlanDaysRisk").kendoNumericTextBox();
        $("#PlanCostOpp").kendoNumericTextBox();
        $("#PlanCostRisk").kendoNumericTextBox();
        $("#Classification").kendoDropDownList();
        input2datePicker($("#ActivityStart"));
        input2datePicker($("#ActivityEnd"));
        input2datePicker($("#ProjectMilestonePeriod"));

        model.FilterVisibility.ExType(true);
        model.FilterVisibility.Activities(true);

        model.uimodel().refresh();


    });

    function setFooterTemplate(e){
        //console.log(e);
        //x.PIPTotalElements(TotalElements);
        $("#PIPTotalElements").text(model.uimodel().PIPTotalElements());
    }

    function initPage() {

    }

    function number_format(number1) {
        //alert("format:" + number1);
        //var number = number1.replaceAll('.', '');
        number = number1;
        var decimals = 1;
        var dec_point = ".";
        var thousands_sep = ",";
        number = (number + '')
          .replace(/[^0-9+\-Ee.]/g, '');
        var n = !isFinite(+number) ? 0 : +number,
          prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
          sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
          dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
          s = '',
          toFixedFix = function (n, prec) {
              var k = Math.pow(10, prec);
              return '' + (Math.round(n * k) / k)
                .toFixed(prec);
          };
        // Fix for IE parseFloat(0.55).toFixed(0) = 0;
        s = (prec ? toFixedFix(n, prec) : '' + Math.round(n))
          .split('.');
        if (s[0].length > 3) {
            s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
        }
        if ((s[1] || '')
          .length < prec) {
            s[1] = s[1] || '';
            s[1] += new Array(prec - s[1].length + 1)
              .join('0');
        }
        //alert (s.join(dec));
        return s.join(dec);
    }

</script>