@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_bodyonly_v1.cshtml";
}
@using ECIS.Client.WEIS
@using Newtonsoft.Json
@using ECIS.Core

<script>
    model.IsProcessing = ko.observable(false);
    model.IsRedirecting = ko.observable(false);
    model.newPassword = ko.observable("");
    model.confirmPassword = ko.observable("");
    model.passwordNotMatchError = ko.observable(false);
    model.SecretToken = ko.observable("@ViewBag.SecretToken");
    model.reset = function () {
        model.newPassword("");
        model.confirmPassword("");
    };
    model.save = function () {
        $("#form-change-password").kendoValidator();

        if (!$("#form-change-password").data("kendoValidator").validate()) {
            return;
        }

        if (model.newPassword() !== model.confirmPassword()) {
            model.passwordNotMatchError(true);
            return;
        }

        model.passwordNotMatchError(false);

        var url = "@Url.Action("DoResetPassword")";
        var param = { Password: model.newPassword(), SecretToken: model.SecretToken() };

        model.IsProcessing(true);

        ajaxPost(url, param, function (res) {
            model.newPassword("");
            model.confirmPassword("");

            if (res.Result == "NOK") {
                alert(res.Message);
                model.IsProcessing(false);
                return;
            }

            alert("Password successfully changed !");
            model.IsRedirecting(true);
            
            location.href = "@Url.Action("Login")";

        }, function () {
            model.newPassword("");
            model.confirmPassword("");
            model.IsProcessing(false);

            alert("Error occured when saving new password!");
        });
    };
</script>

<style>
    #form-change-password {
        width: 500px;
        margin: 0px auto;
    }

        #form-change-password .row {
            margin-bottom: 5px;
        }

        #form-change-password .col-md-5 {
            text-align: right;
            padding-right: 0px !important;
            padding-top: 4px;
        }

        #form-change-password .col-md-7 {
            padding-left: 0px !important;
        }

            #form-change-password .col-md-7 input {
                padding: 4px 6px;
            }
</style>

<div class="col-md-12" data-bind="with: model">


    <div class="col-md-12" style="text-align: center; font-size: 16px; margin-bottom: 15px;">
        <img src="@Url.Content("~/Content/Images/shell-logo.png")"
             align="middle" height="40"
             border="0" /><br />
        Reset Password
    </div>

    <div data-bind="visible: model.IsProcessing()">
        @Html.Partial("_processing")
        <p style="text-align:center;font-size:16px;margin-top:15px;" data-bind="visible: model.IsRedirecting()">Please wait while redirecting to login page</p>
    </div>

    <div data-bind="style: { visibility: (!model.IsProcessing() ? 'visible' : 'hidden') }">
        @if (ViewBag.Status == "OK")
        {
            
            <form id="form-change-password" class="k-content">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-5">
                            <label>New Password:</label>
                        </div>
                        <div class="col-md-7">
                            <input type="password" name="password" required data-required-msg="Password cannot be empty"
                                   placeholder="Type password here ..." data-bind="value: newPassword" />
                            <span class="k-invalid-msg" data-for="password"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <label>Confirm Password:</label>
                        </div>
                        <div class="col-md-7">
                            <input type="password" name="password-confirm" required data-required-msg="Password cannot be empty"
                                   placeholder="Type again here ..." data-bind="value: confirmPassword" />
                            <span class="k-invalid-msg" data-for="password-confirm"></span>
                            <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" role="alert" data-bind="visible: passwordNotMatchError()">
                                <span class="k-icon k-warning"> </span> Password do not match
                            </span>
                        </div>
                    </div>
                </div>

                <div style="text-align: center;">
                    <button type="button" class="btn btn-custom btn-sm btn-primary" data-bind="click: reset">
                        <span class="glyphicon glyphicon-refresh"></span> Reset
                    </button>
                    <button type="button" class="btn btn-custom btn-sm btn-primary" data-bind="click: save">
                        <span class="glyphicon glyphicon-ok"></span> Save
                    </button>
                </div>
            </form>
            
        }
        else
        {
            <div class="col-md-12" style="text-align: center; font-size: 16px; margin-bottom: 15px; color:red;">
                Secret Token not found!
            </div>
        }

        
    </div>
</div>