<!DOCTYPE html>
<html>
<head>
    <title>EACIIT SmartView</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=768">
    <script src="@Url.Content("~/Scripts/jquery-2.1.0.min.js")"></script>
    <script src="@Url.Content("~/Scripts/knockout-3.1.0.js")"></script>
    <script src="@Url.Content("~/Scripts/knockout.mapping-latest.js")"></script>
    <script src="@Url.Content("/ecsvc/content/kendoui/js/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>

    <link href="@Url.Content("~/Content/bootstrap.css")" type="text/css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap-theme.css")" type="text/css" rel="stylesheet" />

    <link rel="stylesheet" href="@Url.Content("/ecsvc/content/kendoui/styles/kendo.material.min.css")" />
    <link rel="stylesheet" href="@Url.Content("/ecsvc/content/kendoui/styles/kendo.common-bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("/ecsvc/content/kendoui/styles/kendo.dataviz.min.css")" />
    <link rel="stylesheet" href="@Url.Content("/ecsvc/content/kendoui/styles/kendo.dataviz.bootstrap.min.css")" />

    <script src="@Url.Content("~/Content/Js/linq.js")"></script>
    <script src="@Url.Content("~/Content/Js/ecis_config.js")"></script>
    <script src="@Url.Content("/ecsvc/content/js/main.js")"></script>
    <script src="@Url.Content("~/Content/Js/ecis_start.js")"></script>
    <link rel="stylesheet" href="@Url.Content("~/Content/Site.css")" />

    <script>
        var model = {
            Processing: ko.observable(true)
        }
    </script>

    <style>
        html, body {
            max-width: 100%;
            overflow-x: hidden;
            max-height: 100%;
            overflow-y: hidden;
        }

        .menu-header {
            height: 30px;
            background-color: #333;
        }

        .nav-bar-header li {
            float: left;
        }

            .nav-bar-header li a {
                font-size: 12px;
                margin: 0px;
                padding: 5px;
                background-color: #000;
            }

            .nav-bar-header li.selected a {
                background-color: #D33;
            }

            .nav-bar-header li a:hover {
                font-size: 12px;
                margin: 0px;
                padding: 5px;
                background-color: #D33;
            }

        .form-group label {
            text-align: right;
            padding-right: 10px;
        }

        .form-group input {
            border: solid 1px #ccc;
            padding: 2px;
        }

            .form-group input[type='number'] {
                text-align: right;
            }
    </style>
</head>
<body>
    <!-- wrapper starts here -->
    <div class="container-fluid" data-bind="visible:Processing()==false">
        <section class="row">
            <!-- Main panel starts here -->
            <div class="col-sm-12" style="margin-top:10px;">
                @RenderBody()
            </div>
        </section>
    </div>
    <!-- section ends here -->
    <!-- wrapper ends here -->
    @RenderSection("Script", false)
    <script>
        ko.applyBindings(model);
    </script>
    <script>
        $(document).ready(function () {
            model.Processing(false);
            if (typeof PageUpdate == "function") {
                PageUpdate();
            }
        });
    </script>
</body>
</html>
