@{
    Layout = "~/Views/Shared/_common_v1.cshtml";
}

@using ECIS.Client.WEIS
@using Newtonsoft.Json
@using ECIS.Core

<style>
    .text { height: auto !important; padding: 0px 4px !important; margin: 0px 12px 0px 3px; }
    .renamed-data { list-style: none; margin: 0px; padding: 0px; margin-top: 10px; padding-left: 15px; }
    .renamed-data li { position: relative; font-weight: bold; }
    .renamed-data li:after { content: "•"; position: absolute; left: -10px; z-index: 2; }
    .renamed-data li span { font-weight: normal !important; opacity: 0.4; padding: 0px 5px; }
</style>

<script>
    model.PageId("Administration");
    model.IsProcessing = ko.observable(false);
    model.MiniIsProcessing = ko.observable(false);

    model.Master = {
        SearchKeyword: ko.observable(""),
        ConfirmUpdate: function () {
            var data = model.Master.GetUpdatedData();
            if (data.length == 0) return;

            $renamedData = $(".renamed-data")
                .html("");

            _.each(data, function (e) {
                $("<li />").html(e._id + " <span>=></span> " + e["@ViewBag.GridColumnField"]).appendTo($renamedData);
            });

            $("#modal-confirm").modal("show");
        },
        Update: function () {
            model.MiniIsProcessing(true);

            ajaxPost("@Url.Action("WhatUpdate")".replace("What", "@ViewBag.Prefix"), { updated: model.Master.GetUpdatedData() }, function (data) {
                model.MiniIsProcessing(false);

                if (data.Result == "OK") {
                    model.Master.Refresh();
                    alert('Saved!');
                } else {
                    model.Master.Refresh();
                    alert(data.Message);
                }

                $("#modal-confirm").modal("hide");
            }, function () {
                model.MiniIsProcessing(false);
            });
        },
        Discard: function () {
            $("#grid").data("kendoGrid").refresh();
        },
        Refresh: function () {
            model.IsProcessing(true);

            ajaxPost("@Url.Action("WhatPopulate")".replace("What", "@ViewBag.Prefix"), { Keyword: model.Master.SearchKeyword() }, function (data) {
                model.IsProcessing(false);

                if (data.Result != "OK") {
                    alert(data.Message);
                    return;
                }

                var dataSource = new kendo.data.DataSource({
                    data: data.Data,
                    pageSize: 15,
                    schema: { model: { id: "_id", fields: { "StringId": { type: "string" }, "_id": { editable: false } } } },
                    batch: true
                });

                $("#grid").data("kendoGrid").setDataSource(dataSource);
            }, function () {
                model.IsProcessing(false);
            });
        },
        Column: function () {
            return [
                { field: "@ViewBag.GridColumnField", title: "@ViewBag.GridColumnTitle", filterable: false },
            ];
        },
        GetUpdatedData: function () {
            var grid = $("#grid");
            var updatedRecords = [];

            grid.data("kendoGrid").dataSource._data.forEach(function (f) {
                if (f.dirty) updatedRecords.push(f);
            });

            var updated = updatedRecords;

            for (var a = 0; a < updated.length; a++) {
                var b = updated[a];
                for (i in b) if (b.hasOwnProperty(i)) {
                    if (i.indexOf(".") > -1) {
                        delete updated[a][i];
                    }
                }
            }

            return updated;
        }
    };
</script>

<script>
    $(document).ready(function () {
        $('.search').on('keyup', function (e) {
            if (e.keyCode != 13) return;
            model.Master.Refresh();
        });

        model.Master.Refresh();
    });
</script>

<div style="padding: 0px 15px 15px;">
    <div data-bind="visible: model.IsProcessing()">
        @Html.Partial("_processing")
    </div>

    <div class="ec-panel" data-bind="visible: !model.IsProcessing()">
        <div class="ec-toolbar" style="margin-left:15px">
            <div class="col-md-4 row">
                @*<button class="btn btn-warning btn-sm btn-custom" onclick="model.Master.Discard()">
                        <span class="glyphicon glyphicon-warning-sign"></span> Discard
                    </button>*@
                <button class="btn btn-primary btn-sm btn-custom" onclick="model.Master.ConfirmUpdate()">
                    <span class="glyphicon glyphicon-ok"></span> Save
                </button>
                (inline editing is enabled)
            </div>
            <div class="col-md-8">
                <label>Search :</label>
                <input type="text" class="text search" data-bind="value: model.Master.SearchKeyword, attr: { placeholder: 'Type @ViewBag.GridColumnTitle here ...' }" />
                <button class="btn btn-primary btn-sm btn-custom" data-bind="click: model.Master.Refresh">
                    <span class="glyphicon glyphicon-refresh"></span> Refresh
                </button>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-12 no-padding">
            <div class="grid" id="grid" data-bind="kendoGrid: { data: [], columns: model.Master.Column(), pageable: true, sortable: true, filterable: true, editable: true }"></div>
        </div>
    </div>

    <div data-bind="with: Master" class="modal fade myModal" id="modal-confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div data-bind="visible: model.MiniIsProcessing()">
                    @Html.Partial("_processing")
                </div>
                <div data-bind="visible: !model.MiniIsProcessing()">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Rename Confirmation</h4>
                    </div>
                    <div class="modal-body">
                        Some @ViewBag.GridColumnTitle are going to be changed. Are you sure ?

                        <ul class="renamed-data"></ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-custom btn-warning" data-dismiss="modal">
                            <span class="glyphicon glyphicon-remove-circle"></span> Close
                        </button>
                        <button type="button" class="btn btn-custom btn-primary" onclick="model.Master.Update()">
                            <span class="glyphicon glyphicon-ok"></span> Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
